html {
  font-size: 62.5%;
}

body {
  font-size: 2rem; /* 1rem = 10px here */
  background-color: #202020;
  color: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
